<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Address</title>
</head>
<body>
    {% for address in address_list %}
    <ul>
        <li>{{address}}</li>
        
     </ul>
    {% endfor %}
</body>
</html>