<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Address</title>
</head>
<body>
    {% for person in people_list %}
    <ul>
        {%if person.isStudent == True%}
           <li> Student={{person}} </li>
        {%else%}
            <li>Person={{person}}</li>
        {%endif%}
    </ul>
    {% endfor %}
</body>
</html>